@import "~bootstrap/scss/bootstrap";

$background: cornflowerblue;
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$white: #efefef;
$shadow-purple: 0 1px 1px rebeccapurple;

body {
  font: 100% $font-stack;
  color: $primary-color;
}
main {
  width: 100%;
  height: 100vh;
}
.btn {
  border: 1px solid $white;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
.catImage {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.fact {
  color: $white;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -2px black;
}

.catFact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  color: $white;
  text-align: center;
  a {
    color: $white;
    text-decoration: none;
    text-shadow: $shadow-purple;
  }
  .buttons-wrapper {
    .btn {
      margin: 0 12px;
      &:hover {
        color: #fff;
      }
    }
  }
}
.adoption-page {
  padding: 20px 10px;
  h1 {
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}
.cat-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  div {
    a {
      color: black;
      text-decoration: none;
    }
    justify-self: center;
    align-self: center;
    text-align: center;
  }
  img {
    width: 250px;
    height: 250px;
    border-radius:  50%;
    object-fit: cover;
  }
}
